body {
 text-align: center;
}

datalist {
 display: flex;
 font-size: 1.4rem;
}

option {
 display: inline-block;
}

option[value="130"] {
 flex-grow: 1;
}

#sizeslider {
 transform: scale(2);
 width: 50%;
 margin-top: 20px;
}

span {
 font-size: 2rem;
}

#sizeoutput {
 font-weight: bold;
}

dialog {
 font-size: 1.4rem;
}

button {
 font-size: 1.5rem;
}